  *, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

header {
    background: #568c99;
    color: #01020c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px ;

}
.logo {
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    transition: all .5s ease 0s ;
}
.logo:hover {
    color:#68cc8e ;
    
}
li{
    list-style-type: none;
    padding: 10px;

}
li a {
    transition: all .5s ease 0s ;
    color: rgb(68, 52, 27);
    display:inline-block;
    
}
.btn-cta {
    margin-right: 10px;
    border:none;
    font-size: 20px;
    padding: 6px 12px;
    background: #68cc8e;
    border-radius: 10px;
    cursor: pointer;
}
a {
    color:antiquewhite;
    text-decoration:wavy
}
nav ul {
    display:flex;
    padding: 20px;
}
.container {
    margin: 0 auto;
    padding: 20px 0;
}
.litle {
    font-size: 24px;
    font-weight: bold;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description {
    font-size: 20px;
    font-weight:lighter;
    
}
.img-foto{
    max-width: 150px;
    height: auto;
    width: 80%;
    padding: 20px;
}
section {
    padding:  100px;
    margin-top: 20px;
    background-color: #556f96;
    
    border-end-end-radius: 10px;
}
nav a {
    margin-right: 20px;
    text-decoration: none;
    color:rgb(238, 237, 236);
    font-weight: bold;
}
nav a:hover {
    color: lightcoral;
}
